GOST_FORWARDER=socks5://{% if instance.socks_user | default('') | length > 0 %}{{ instance.socks_user }}:{{ instance.socks_pass | default('') }}@{% endif %}{{ instance.socks_ip }}:{{ instance.socks_port }}
