{% set _flags = {'local': '-L', 'remote': '-R', 'dynamic': '-D'} %}
{% set _user = tunnel.user | default('root') %}
{% set _home = '/root' if _user == 'root' else ssh_tunnel_homes[_user] %}
{% set _opts = ['-o UserKnownHostsFile=' ~ _home ~ '/.ssh/known_hosts'] %}
{% if tunnel.identity_file is defined %}
{%   set _key = tunnel.identity_file if (tunnel.identity_file | string).startswith('/') else (_home ~ '/' ~ tunnel.identity_file) %}
{%   set _ = _opts.extend(['-o IdentityFile=' ~ _key, '-o IdentitiesOnly=yes']) %}
{% endif %}
{% set _args = [] %}
{% if tunnel.forward_port is defined %}
{%   set _ = _args.append('-D 0.0.0.0:' ~ tunnel.forward_port) %}
{% endif %}
{% if tunnel.reverse_port is defined %}
{%   set _ = _args.append('-R 0.0.0.0:' ~ tunnel.reverse_port) %}
{% endif %}
{% for fwd in tunnel.forwards | default([]) %}
{%   set _bind = ((fwd.bind_address ~ ':') if fwd.bind_address is defined else '') ~ fwd.bind_port %}
{%   set _target = (':' ~ fwd.host ~ ':' ~ fwd.port) if fwd.host is defined else '' %}
{%   set _ = _args.append(_flags[fwd.type] ~ ' ' ~ _bind ~ _target) %}
{% endfor %}
[Unit]
Description=SSH Tunnel: {{ tunnel.name }}
After=network.target

[Service]
Type=simple
User={{ _user }}
ExecStart=/bin/ssh -N -o BatchMode=yes -o StrictHostKeyChecking=accept-new {{ _opts | join(' ') }} -o ExitOnForwardFailure=yes -o ServerAliveInterval=30 -o ServerAliveCountMax=3{% for arg in _args %} {{ arg }}{% endfor %} {{ tunnel.remote_user }}@{{ tunnel.remote_host }}
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
