SINGBOX_INSTANCE={{ instance.name }}
SINGBOX_MODE={{ instance.routing_mode | default('none') }}
SINGBOX_DEV={{ instance.tun_name | default('sbx-' ~ instance.name) }}
SINGBOX_TABLE={{ instance.route_table | default(100 + idx) }}
SINGBOX_MARK={{ instance.fwmark | default('0x%x' | format(524288 * (2 ** idx))) }}
SINGBOX_SET={{ instance.ipset | default('sbx_' ~ instance.name) }}
SINGBOX_SERVER={{ instance.vless.server }}
SINGBOX_SCOPE_NS="{{ instance.scope_namespaces | default([]) | join(' ') }}"
SINGBOX_LOCAL_DESTS="{{ (instance.local_dests | default(singbox_default_local_dests)) | join(' ') }}"
SINGBOX_HOST_EXCLUDES="{{ (instance.host_exclude_cidrs | default([])) | join(' ') }}"
SINGBOX_KUBECTL="{{ instance.kubectl | default('/usr/local/bin/k3s kubectl') }}"
